<% layout("/layouts/boilerplate") %>



<body>
    <div class="container">
        <h2 class="my-4">Booking Details</h2>
        <form class="p-0 m-0" action="/train/book" method="post">
            <table class="table">
                <tr>
                    <td>Passenger Name</td>
                    <td><div class="form-control"><%= currUser.first_name + " " + currUser.last_name %></div></td>
                </tr>
                <tr>
                    <td>Passenger Age</td>
                    <td><div class="form-control"><%= currUser.age %></div></td>
                </tr>
                <tr>
                    <td>Train Number</td>
                    <td><input type="text" class="form-control" name="ob[train_number]" value="<%= train.train_number %>"></td>
                </tr>
                <tr>
                    <td>Train Name</td>
                    <td><input type="text" class="form-control" name="ob[train_name]" value="<%= train.train_name %>"></td>
                </tr>
                <tr>
                    <td>Departure Time</td>
                    <td> <input type="text" class="form-control" name="ob[from_std]" value="<%= train.from_std %>"></td>
                </tr>
                <tr>
                    <td>Destination Reach Time</td>
                    <td><input type="text" class="form-control" name="ob[to_sta]" value="<%= train.to_sta %>"></td>
                </tr>
                <tr>
                    <td>From</td>
                    <td><input type="text" class="form-control" name="ob[from_station_name]" value="<%= train.from_station_name %>"></td>
                </tr>
                <tr>
                    <td>To</td>
                    <td><input type="text" class="form-control" name="ob[to_station_name]" value="<%= train.to_station_name %>"></td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td><input type="text" class="form-control" name="ob[train_date]" value="<%= train.train_date %>"></td>
                </tr>
                <tr>
                    <td>Class Type</td>
                    <td><input type="text" class="form-control" name="ob[class_type]" value="<%= train.class_type %>"></td>
                </tr>
                <tr>
                    <td>Duration in hours</td>
                    <td><input type="text" class="form-control" name="ob[duration]" value="<%= train.duration %>" ></td>
                </tr>
                <tr>
                    <td>Ticket Fare in &#8377;</td>
                    <td><input type="number" class="form-control" name="ob[fare]" value="<%= price[train.class_type] %>"></td>
                </tr>
                <tr>
                    <td>Payable Price in &#8377;</td>
                    <td><input type="number" class="form-control" name="ob[total]" value="<%= price[train.class_type] + .18*price[train.class_type] %>"></td>
                </tr>
            </table>
            <div style="display: flex; justify-content: flex-end;">
                <button class="btn btn-outline-success">Proceed to Payment</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
